:root {
    /* Farben */
    --dunkel_grun: #8D9752;
    --hell_grun: #D8D67C;
    --dunkel_grau: #2B2B37;
    --beige: #F1EBDC;
    --lila: #AD8ED0;
    --dunkel_lila: #9581B5;
    --red: #FF8569;

    /*fonts */
    --titel: Barriecito;
    --text: Geist Mono;

    /* fonts size */
    --Mobile-Titel: 35px;
    --Mobile-Lead: 15px;
    --Mobile-Text: 16px;
    --Mobile-Hinweis: 10px;
    --Mobile-Button-Text: 16px;

    --Desktop-Titel: 66px;
    --Desktop-Lead: 25px;
    --Desktop-Text: 20px;
    --Desktop-Hinweis: 18px;
    --Desktop-Button-Text: 20px;
}

.body {
    background-color: var(--hell_grun);
}

.h1 {
    font-family: var(--titel);
    font-size: var(--Desktop-Titel);
    color: var(--dunkel_grun);
}

.h2 {
    font-family: var(--text);
    font-size: var(--Desktop-Lead);
    color: var(--lila);
}

.text {
    font-family: var(--text);
    font-size: var(--Desktop-Text);
    color: var(--dunkel_grau);
}

.p {
    font-family: var(--text);
    font-size: var(--Desktop-Hinweis);
    color: var(--dunkel_grun);
}

.logo a img {
    width: 40px;
    height: auto;
    display: block;
    max-width: 100%;
  }

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}