:root {
    /* Farben */
    --dunkel_grun: #8D9752;
    --hell_grun: #D8D67C;
    --dunkel_grau: #2B2B37;
    --beige: #F1EBDC;
    --lila: #AD8ED0;
    --dunkel_lila: #9581B5;
    --red: #FF8569;

    /*fonts */
    --titel: "Barriecito";
    --text: "Geist Mono";

    /* fonts size */
    --Mobile-Titel: 35px;
    --Mobile-Lead: 15px;
    --Mobile-Text: 16px;
    --Mobile-Hinweis: 10px;
    --Mobile-Button-Text: 16px;

    --Desktop-Titel: 66px;
    --Desktop-Lead: 25px;
    --Desktop-Text: 20px;
    --Desktop-Hinweis: 18px;
    --Desktop-Button-Text: 20px;
}

body {

    background-color: var(--hell_grun);
}

h1 {
    font-family: var(--titel);
    font-size: var(--Desktop-Titel);
    color: var(--dunkel_grun);
}

h2 {
    font-family: var(--text);
    font-size: var(--Desktop-Lead);
    color: var(--lila);
}

text {
    font-family: var(--text);
    font-size: var(--Desktop-Text);
    color: var(--dunkel_grau);
}

p {
    font-family: var(--text);
    font-size: var(--Desktop-Hinweis);
    color: var(--dunkel_grun);
}


.logo {
    position: absolute;
    top: 70px;
    left: 70px;
    display: block;

}

.logo img {
    height: 110px;
    display: block;
    margin-bottom: 20px;
    /* Abstand zur Box */
}

.map-container {
    position: absolute;
    top: 30px;
    right: 50px;
    display: block;

}

.map-container img {
    width: 600px;
    height: auto;
    display: block;
}

.info-container {
    position: absolute;
    top: 250px;
    left: 110px;
    width: 450px;
    text-align: center;
    padding: 20px;
    background-color: var(--beige);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.hinweis_text {
    position: absolute;
    bottom: 120px;
    right: 630px;
    font-weight: bold;
}

.hinweis_pfeil {
    position: absolute;
    bottom: 90px;
    right: 720px;
}

.hinweis_pfeil img {
    width: 600px;
    height: auto;
    display: block;
}

.Parkhaus_1_gruen_1 {
    position: absolute;

}